

  <% if obj.errors.any? %>
    <div class="container">
      <div class="row p-3">
        <div class="col-sm-12">
          <div class= "m-2 alert alert-danger">        
            <h2>
              <%= pluralize(obj.errors.count, "error") %> prohibited this article from being                                                   saved:
            </h2>       
                
              <ul>
                <% obj.errors.full_messages.each do |msg| %>            
                <li>
                  <%= msg %>
                </li>
              <% end %>
              </ul>             
          </div>
        </div>
      </div>
    </div>
  <% end %>
