<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Alpha Blog</title>
  </head>
  <body>
    <div class="jumbotron center">
      <!-- style='background-image: url(assets/image.jpg)'> -->
      <div class="jt-container">
       <!-- style="height: 600px" > -->
        <h1 class="display-3">Welcome to Alpha Blog</h1>
        <%= link_to 'Sign up now', "#", class: "btn btn-primary btn-xlg" %>
      </div>
    </div>

  </body>
</html>
