<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Alpha Blog</title>
  </head>
  <body>
    <div class="jumbotron-fluid jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to Alpha Blog</h1>
        <div class="container center">
          <%= link_to 'Sign up now', signup_path, class: "btn btn-primary btn-xlg" %>
        </div>
      </div>
    </div>
  
  </body>
</html>
