<div class="container p-3">
  <div class="row m-2">    
    <div class="col center">
      <h1>Category List</h1>
    </div>
  </div>
  <div class="row justify-content-md-center m-2">      
      <%= will_paginate %>     
  </div>
  <div class="row justify-content-md-center m-2">
    <ul class="listing">
      
      <% @categories.each do |category| %>
        <div class="row justify-content-md-center m-2">
          <div class="col center"> 
            <li>
              <h2><%= link_to  "#{category.name}", category_path(category) %></h2>      
            </li>
            
            <% if logged_in? && current_user.is_admin? %>
              <li><%= link_to 'Delete category', category_path(category), method: :delete,            data: {confirm: "Are you sure?"} %>
              </li>
            <% end %>
            </li>
          </div> 
        </div>  

       

      <% end %>

    </ul>
  </div>
  <div class="row justify-content-md-center">      
    <%= will_paginate %>     
  </div>
</div>

